PORT=3000
NODE_ENV=development
ENABLE_DATABASE=true
ENABLE_REDIS=true

MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=restaurant

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

MONGODB_URI=mongodb://root:root@localhost:27017/restaurant?authSource=admin
MONGODB_DB_NAME=restaurant
